<?xml version="1.0"?>
<module xmlns="http://schema.slothsoft.net/farah/module" xmlns:sfm="http://schema.slothsoft.net/farah/module">
  <!--
Farah Module Manifest

Module: core
Vendor: slothsoft
Farah ID: farah://slothsoft@core
Composer ID: slothsoft/core

Homepage: http://farah.slothsoft.net/modules/core
Packagist: https://packagist.org/packages/slothsoft/core
GitHub: https://github.com/Faulo/slothsoft-core

Llo
-->
  <default-configuration/>
  <assets>
    <fragment name="sitemap">
      <use-template ref="xsl/_sitemap"/>
      <use-document ref="static/sites"/>
    </fragment>
    <fragment name="ipLog">
      <use-template ref="xsl/_ipLog"/>
      <use-document ref="data/ipLog"/>
    </fragment>
    <fragment name="botLog">
      <use-template ref="xsl/_ipLog"/>
      <param name="bots" value="1"/>
      <use-document ref="data/ipLog"/>
    </fragment>
    <fragment name="userLog">
      <use-template ref="xsl/_ipLog"/>
      <use-document ref="data/ipLog"/>
    </fragment>
    <fragment name="language-backend">
      <use-template ref="xsl/_language-backend"/>
      <use-document ref="data/language-backend"/>
    </fragment>
    <fragment name="DOM">
      <use-script ref="js/DOM"/>
      <use-script ref="js/DOMHelper"/>
      <use-script ref="js/NS"/>
      <use-script ref="js/XPath"/>
      <use-script ref="js/XSLT"/>
      <include-fragment ref="js/HTML5"/>
    </fragment>
    <fragment name="HTML5">
      <use-stylesheet ref="css/HTML5"/>
    </fragment>
    <fragment name="XPath">
      <use-script ref="js/NS"/>
      <use-script ref="js/XPath"/>
    </fragment>
  </assets>
</module>
